body {
    font-family: Arial, sans-serif;
    background-color: #f5f7fb;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.container {
    width: 60%;
    margin: auto;
}

/* Card style */
.card {
    background: white;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Links */
a {
    text-decoration: none;
    color: #4a6cf7;
}

a:hover {
    text-decoration: underline;
}

/* Buttons */
button {
    background-color: #4a6cf7;
    color: white;
    border: none;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #983ad6;
}

/* Create button */
.create-btn {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 15px;
    background: green;
    color: white;
    border-radius: 8px;
}